@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
}

.amarillo-principal {
  color: #fcb825; 
  opacity: 1;     
}

.bg-grey {
  background-color: rgb(241, 241, 241);
}

.color-titulo {
  background-color: rgb(52, 52, 236);
  color: white;
}

.main-content{
  background-color: #efefef;
  border-radius: 8px;
}