/* styles/pago/search_form.css */
.search-form-inputs{
    display: flex;
    margin-bottom: 3vh;
}
.search-form-inputs div{
    margin-left: 5VW;
}
.search-form-buttons{
    margin-left:5vw;
    max-width:30%;
}