.main-content-edit-carrera{
    display: flex;
    width: 100%;
}
.editor-carrera{
    background-color: #ffffff;
    margin: 1rem;
    border-radius:8px;
    width: 30%;
}

.cursos{

    width: 70%;
}
.cursos-obligatorios{
    background-color: #ffffff;
    margin: 1rem;
    border-radius:8px;
}
.cursos-electivos{
    background-color: #ffffff;
    margin: 1rem;
    border-radius:8px;
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    padding:0px 25px;
}